button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.btn-add {
  color: #11b311;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-del {
  color: #8f1616;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-cancel {
  color: #8f1616;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn-edit {
  // color: white;
  color: map-get($map: $color, $key: link);
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-signout {
  font-size: 2.5rem;
  color: rgb(144, 0, 0);
  float: right;
  cursor: pointer;
}
