@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$border-radius: 4px;
$font-fam: "roboto", sans-serif;
$color: (
  header: #3c3c3c,
  font-header: #b3b3b3,
  background-primary: #eee,
  background-secondary: #d9edf7,
  dark: #444545,
  light: #fff,
  link: #488bca,
  facebook: #3b5998,
  twitter: #0084ed,
  google: #c32f10,
);
